{% extends 'core/base.html' %}
{% load static %}
{% load incidents_extra %} 
{% block title %}Crear Incidente{% endblock %}
{% block content %}
{% include 'incidents/includes/incidents_menu.html'%}
<main role="main">
  <div class="container">
    <!--TITULO Y BOTÓN REGRESAR-->
    <div class="row ">
      <div class="col-md-11">
        <h2 class="section-heading mb-4">CREAR INCIDENTE</h2>
      </div>
      <div class="col-md-1">
          <div class="mb-3">
            <a href="javascript:history.back()" class="btn btn-light border-0 shadow-sm rounded-3  py-2">
              <i class="fa fa-arrow-left m-2 text-dark"></i>
            </a>
          </div>
      </div>
    </div>
    <!--FORMULARIO-->
    <div class="row mt-3 mb-4">
      <div class="col-md-9 mx-auto">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <strong>ERROR:</strong>
          <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            {% for field in form %}
              {% if forloop.last %}
                <div class="col-md-12">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|add_class:"form-control" }}
                    </div>
                </div>
              {% else %}
                <div class="col-md-4">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|add_class:"form-control" }}
                    </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-success btn-block" value="Crear Incidente" />
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}