{% extends 'core/base.html' %}
{% load static %}
{% load incidents_extra %} 
{% block title %}Actualizar Incidente{% endblock %}
{% block content %}
{% include 'incidents/includes/incidents_menu.html'%}
<main role="main">
  <div class="container" >
    <div class="row mt-3 mb-4">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <div class="alert alert-success mt-2" role="alert">
                <strong>Aviso:</strong>  Incidente editado correctamente.
                <a href="{% url 'incidents:incident' incident.id incident.id_servicio|slugify %}" class="alert-link">
                  Ver resultado
                </a>
            </div>
          {% endif %}
          <form action="" method="post">
            {% csrf_token %}
            <div class="row">
              {% for field in form %}
                {% if forloop.last %}
                  <div class="col-md-12">
                      <div class="form-group">
                          {{ field.label_tag }}
                          {{ field|add_class:"form-control" }}
                      </div>
                  </div>
                {% else %}
                  <div class="col-md-4">
                      <div class="form-group">
                          {{ field.label_tag }}
                          {{ field|add_class:"form-control" }}
                      </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-success btn-block mt-3" value="Actualizar Incidente" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}