{% extends 'core/base.html' %}
{% load static %}
{% load incidents_extra %}
{% block title %}Apertura Doble{% endblock %}
{% block content %}
{% include 'notes/includes/diagnosticos_menu.html'%}

<div class="container mb-4 mt-3">
  <div class="row mt-2">
    <div class="col-md-11">
      <h2>Diagnóstico de Apertura Doble</h2>
    </div>
    <div class="col-md-1">
      <div class="mb-3">
        <a href="javascript:history.back()" class="btn btn-light border-0 shadow-sm rounded-3 px-4 py-2">
        <i class="fa fa-arrow-left m-2 text-dark"></i>
        </a>
      </div>
    </div>
  </div>
  <!--FORMULARIO-->
  <div class="container mt-4">
    <form method="post" autocomplete="on">
      {% csrf_token %}
      <div class="row justify-content-center">
        {% for field in form %}
          <div class="col-md-3">
            <div class="form-group">
              {% if field.field.widget.input_type == "checkbox" %}
                <div class="form-check">
                  <label class="form-check-label d-block mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field|add_class:"form-check-input custom-checkbox" }}
                </div>
              {% else %}
                {{ field.label}}
                {{ field|add_class:"form-control mt-1" }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="text-center"> <!-- Centra el botón -->
        <button type="submit" class="btn btn-success mt-2 mb-3">Generar</button>
      </div>
    </form>
  </div>
  {% if texto %}
    <div class="container mt-2">
      <h3>Texto Generado</h3>
      <div class="form-group">
        <textarea class="form-control" id="resultado" rows="10" readonly>{{ texto }}</textarea>
        <button class="btn btn-outline-success mt-3" onclick="copiarTexto('resultado')">Copiar</button>
      </div>
    </div>
  {% else %}  
    <h3 class="mt-2">No se ha generado ningún diagnóstico.</h3>
  {% endif %}
</div>
{% block styles %}
<style>
  .custom-checkbox {
    width: 25px;
    height: 25px;
    margin-left: 25px;
  }

  .form-check-label {
    font-size: 16px; 
    font-weight: 400;
    color: #212529;
    margin-bottom: 5px;
  }
</style>
{% endblock %}
{% block scripts %}
<script>
  function copiarTexto(id) {
    // Obtiene el elemento del textarea por su ID
    const textarea = document.getElementById(id);
    if (textarea) {
      // Selecciona el texto dentro del textarea
      textarea.select();
      textarea.setSelectionRange(0, 99999); 
      // Copia el texto al portapapeles
      document.execCommand("copy");
      // Muestra un mensaje temporal
      mostrarMensaje("Texto copiado al portapapeles");
    }
  }
  function mostrarMensaje(mensaje) {
    // Crea un elemento div para el mensaje
    const mensajeDiv = document.createElement("div");
    mensajeDiv.textContent = mensaje;
    mensajeDiv.style.position = "fixed";
    mensajeDiv.style.top = "100px"; // Posición en la parte superior
    mensajeDiv.style.left = "50%"; // Centrado horizontalmente
    mensajeDiv.style.transform = "translateX(-50%)"; // Ajusta el centrado
    mensajeDiv.style.backgroundColor = "#020024"; // Color verde (igual que btn-success)
    mensajeDiv.style.color = "white";
    mensajeDiv.style.padding = "20px 50px"; // Más grande
    mensajeDiv.style.borderRadius = "8px"; // Bordes más redondeados
    mensajeDiv.style.boxShadow = "0 4px 8px rgba(0, 0, 0, 0.2)";
    mensajeDiv.style.zIndex = "1000";
    mensajeDiv.style.fontSize = "16px"; // Texto más grande
    mensajeDiv.style.fontWeight = "bold"; // Texto en negrita
    mensajeDiv.style.textAlign = "center"; // Centrar el texto
    mensajeDiv.style.opacity = "1"; // Totalmente visible
    mensajeDiv.style.transition = "opacity 1s ease"; // Transición suave de opacidad
    // Agrega el mensaje al cuerpo del documento
    document.body.appendChild(mensajeDiv);
    // Reduce la opacidad después de 4 segundos
    setTimeout(() => {
      mensajeDiv.style.opacity = "0"; // Desaparece gradualmente
    }, 800);
    // Elimina el mensaje después de 5 segundos
    setTimeout(() => {
      mensajeDiv.remove();
    }, 1800);
  }
</script>
{% endblock %}
{% endblock %}



