<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNotes"
      aria-controls="navbarNotes"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNotes"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'nota_correo_saliente' %}active{% endif %}"
            href="{% url 'nota_correo_saliente' %}"
            >Correo Saliente</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'nota_correo_entrante' %}active{% endif %}"
            href="{% url 'nota_correo_entrante' %}"
            >Correo Entrante</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .active {
    font-weight: bold;
  }
</style>

