<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNotes"
      aria-controls="navbarNotes"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNotes"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'tiquete_ap_doble_uno' %}active{% endif %}"
            href="{% url 'tiquete_ap_doble_uno' %}"
            >Apertura Doble [1 Cliente]</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'tiquete_ap_doble_dos' %}active{% endif %}"
            href="{% url 'tiquete_ap_doble_dos' %}"
            >Apertura Doble [+2 Clientes]</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'tiquete_retiro_empalme' %}active{% endif %}"
            href="{% url 'tiquete_retiro_empalme' %}"
            >Retiro Empalme</a
          >
        </li>
        <li class="nav-item">
          <a 
            class="nav-link {% if request.resolver_match.url_name == 'tiquete_reingreso_empalme' %}active{% endif %}" 
            href="{% url 'tiquete_reingreso_empalme' %}"
            >Reingreso al Anillo</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .active {
    font-weight: bold;
  }
</style>

