{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nuevo Usuario{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="row" style="margin-top: 80px;">
            <div class="col-md-9 mx-auto mb-3">
                <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Formulario de Registro</h3>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>ERROR:</strong>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {{ form.as_p }}
                    <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}